<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
  />
  <script src="http://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
</head>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Banners</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-2">Small Head</th>
              <th class="col-2">Big Head</th>
              <th class="col-3">Link</th>
              <th class="col-1">Image</th>
              <th class="col-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < banner.length; i++) { %>
            <tr>
              <td><%= banner[i].smallHead %></td>
              <td><%= banner[i].bigHead %></td>
              <td><%= banner[i].link %></td>
              <td>
                <img src="/images/bannerImages/<%= banner[i].image %>" />
              </td>
              <td>
                <div class="align-items-center">
                  <button
                    type="button"
                    class="btn btn-success btn-sm btn-icon-text mr-3"
                    onclick="window.location='/admin/editBanner/<%=banner[i]._id %>'"
                  >
                    Edit
                    <i class="typcn typcn-edit btn-icon-append"></i>
                  </button>
                  <br />
                  <br/>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm btn-icon-text"
                    onclick="confirmStatus('<%= banner[i]._id %>')"
                  >
                    Block
                    <i class="typcn typcn-delete-outline btn-icon-append"></i>
                  </button>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br />
</div>
<script>
  function confirmStatus(userId) {
    if (confirm("Are you sure you want to Block this Category Code?")) {
      fetch(`/admin/statusBannerUpdate/${userId}`, { method: "POST" })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          } else {
            swal("unable to update Status");
          }
        })
        .catch((err) => {
          console.error(err);
          swal("Internal server error");
        });
    } else {
      // User cancelled, do nothing
      console.log("Category blocking was cancelled ");
    }
  }
</script>
<script>
  $(document).ready(function () {
    $("#categoryTable").DataTable();
  });
</script>
