<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
  />
  <script src="http://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
</head>

<div class="categoryHeading ml-5">
  <h5 class="my-5">Category</h5>
  <div class="table-responsive">
    <table class="table" id="categoryTable">
      <thead>
        <tr>
          <th>Data</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < category.length; i++) { %>
        <tr>
          <td><%= category[i].values %></td>
          <td>
            <div class="d-flex align-items-center">
              <button
                type="button"
                class="btn btn-success btn-sm btn-icon-text mr-3"
                onclick="window.location='/admin/editCategory/<%=category[i]._id %>'"
              >
                Edit
                <i class="typcn typcn-edit btn-icon-append"></i>
              </button>

              <% if(category[i].isActive){%>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= category[i]._id %>')"
              >
                Block
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } else { %>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= category[i]._id %>')"
              >
                Unblock
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } %>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table" id="colourTable">
      <thead>
        <tr>
          <th>Data</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <h5 class="my-5">Colour</h5>
        <% for (let i = 0; i < colour.length; i++) { %>
        <tr>
          <td><%= colour[i].values %></td>
          <td>
            <div class="d-flex align-items-center">
              <button
                type="button"
                class="btn btn-success btn-sm btn-icon-text mr-3"
                onclick="window.location='/admin/editCategory/<%=colour[i]._id %>'"
              >
                Edit
                <i class="typcn typcn-edit btn-icon-append"></i>
              </button>

              <% if(colour[i].isActive){%>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= colour[i]._id %>')"
              >
                Block
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } else { %>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= colour[i]._id %>')"
              >
                Unblock
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } %>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table" id="patternTable">
      <thead>
        <tr>
          <th>Data</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <h5 class="my-5">Pattern</h5>
        <% for (let i = 0; i < pattern.length; i++) { %>
        <tr>
          <td><%= pattern[i].values %></td>
          <td>
            <div class="d-flex align-items-center">
              <button
                type="button"
                class="btn btn-success btn-sm btn-icon-text mr-3"
                onclick="window.location='/admin/editCategory/<%=pattern[i]._id %>'"
              >
                Edit
                <i class="typcn typcn-edit btn-icon-append"></i>
              </button>

              <% if(pattern[i].isActive){%>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= pattern[i]._id %>')"
              >
                Block
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } else { %>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= pattern[i]._id %>')"
              >
                Unblock
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } %>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table" id="genderTypeTable">
      <thead>
        <tr>
          <th>Data</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <h5 class="my-5">Gender Type</h5>
        <% for (let i = 0; i < genderType.length; i++) { %>
        <tr>
          <td><%= genderType[i].values %></td>
          <td>
            <div class="d-flex align-items-center">
              <button
                type="button"
                class="btn btn-success btn-sm btn-icon-text mr-3"
                onclick="window.location='/admin/editCategory/<%=genderType[i]._id %>'"
              >
                Edit
                <i class="typcn typcn-edit btn-icon-append"></i>
              </button>

              <% if(genderType[i].isActive){%>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= genderType[i]._id %>')"
              >
                Block
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } else { %>
              <button
                type="button"
                class="btn btn-danger btn-sm btn-icon-text"
                onclick="confirmStatus('<%= genderType[i]._id %>')"
              >
                Unblock
                <i class="typcn typcn-delete-outline btn-icon-append"></i>
              </button>
              <% } %>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
<script>
  function confirmStatus(userId) {
    if (confirm("Are you sure you want to Block this Category Code?")) {
      fetch(`statusCategoryUpdate/${userId}`, { method: "POST" })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          } else {
            swal("unable to update Status");
          }
        })
        .catch((err) => {
          console.error(err);
          swal("Internal server error");
        });
    } else {
      // User cancelled, do nothing
      console.log("Category blocking was cancelled ");
    }
  }
</script>
<script>
  $(document).ready(function () {
    $("#categoryTable").DataTable();
    $("#colourTable").DataTable();
    $("#patternTable").DataTable();
    $("#genderTypeTable").DataTable();
  });
</script>
