<div class="flex-w flex-sb-m p-b-52">
  <div class="flex-w flex-l-m filter-tope-group m-tb-10">
    <button
      class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
      data-filter="*"
    >
      All Products
    </button>
    <% for (let i = 0; i < genderType.length; i++) { %>

    <button
      class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
      data-filter=".<%= genderType[i].values %>"
    >
      <%= genderType[i].values %>
    </button>
    <% } %>
  </div>

  <div class="flex-w flex-c-m m-tb-10">
    <div
      class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter"
    >
      <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
      <i
        class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
      ></i>
      Filter
    </div>

    <div
      class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search"
    >
      <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
      <i
        class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
      ></i>
      Search
    </div>
  </div>

  <!-- Search product -->
  <div class="dis-none panel-search w-full p-t-10 p-b-15">
    <div class="bor8 dis-flex p-l-15">
      <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
        <i class="zmdi zmdi-search"></i>
      </button>

      <input
        class="mtext-107 cl2 size-114 plh2 p-r-15"
        type="text"
        name="search-product"
        placeholder="Search"
      />
    </div>
  </div>

  <!-- Filter -->
  <div class="dis-none panel-filter w-full p-t-10">
    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
      <div class="filter-col1 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Sort By</div>

        <ul>
          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="sortProducts('default')"
            >
              Default
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="sortProducts('popularity')"
            >
              Popularity
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="sortProducts('lth')"
            >
              Price: Low to High
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="sortProducts('htl')"
            >
              Price: High to Low
            </a>
          </li>
        </ul>
      </div>

      <div class="filter-col2 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15" id="price">Price</div>
        <ul>
          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04 filter-link-active"
              onClick="filterByPrice(-1, -1)"
            >
              All
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="filterByPrice(0, 500)"
            >
              Rs.0.00 - Rs.500.00
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="filterByPrice(500, 1000)"
            >
              Rs.500.00 - Rs.1000.00
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="filterByPrice(1000, 3000)"
            >
              Rs.1000.00 - Rs.3000.00
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="filterByPrice(3000, 10000)"
            >
              Rs.3000.00 - Rs.10000.00
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="filterByPrice(10000, -1)"
            >
              Rs.10000.00+
            </a>
          </li>
        </ul>
      </div>

      <div class="filter-col3 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Color</div>

        <ul>
          <li class="p-b-6">
            <span
              class="fs-15 lh-12 m-r-6"
              style="
                color: radial-gradient(
                  closest-side at 50% 50%,
                  red,
                  green,
                  blue
                );
              "
            >
              <i class="zmdi zmdi-circle"></i>
            </span>

            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="colourChange('')"
            >
              All
            </a>
          </li>
          <% for (let i = 0; i < colour.length; i++) { %>
          <li class="p-b-6">
            <span
              class="fs-15 lh-12 m-r-6"
              style="color: <%=colour[i].values%>"
            >
              <i class="zmdi zmdi-circle"></i>
            </span>

            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="colourChange('<%=colour[i]._id%>')"
            >
              <%=colour[i].values%>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="filter-col4 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Category</div>

        <ul>
          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="categoryChange('')"
            >
              All
            </a>
          </li>
          <% for (let i = 0; i < category.length; i++) { %>
          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="categoryChange('<%=category[i]._id%>')"
            >
              <%=category[i].values%>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="filter-col5 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Pattern</div>

        <ul>
          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="patternChange('')"
            >
              All
            </a>
          </li>
          <% for (let i = 0; i < pattern.length; i++) { %>
          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="patternChange('<%=pattern[i]._id%>')"
            >
              <%=pattern[i].values%>
            </a>
          </li>
          <% } %>
        </ul>
      </div>

      <!-- <div class="filter-col4 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Category</div>
        <% for (let i = 0; i < category.length; i++) { %>

        <div class="flex-w p-t-4 m-r--5">
          <a
            href="#"
            class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
          >
          <%=category[i].values%>

          </a>
        </div>
        <% } %>
      </div>
      <div class="filter-col5 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Pattern</div>
        <% for (let i = 0; i < category.length; i++) { %>
        <div class="flex-w p-t-4 m-r--5">
          <a
            href="#"
            class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
          >
          <%=category[i].values%>
          </a>
        </div>
        <% } %>
      </div> -->
    </div>
  </div>
</div>
<script>
  // Define variables to hold values
  var params = new URLSearchParams(window.location.search);
  var sorted = params.get("sorted") || "";
  var minPrice = params.get("minPrice") || "";
  var maxPrice = params.get("maxPrice") || "";
  var pattern = params.get("pattern") || "";
  var colour = params.get("colour") || "";
  var category = params.get("category") || "";
  var size = params.get("size") || "";
  var genderType = params.get("genderType") || "";

  function sortProducts(option) {
    sorted = option;
    toChangeFilter();
  }

  function filterByPrice(min, max) {
    minPrice = min;
    maxPrice = max;
    if (min == -1) {
      minPrice = "";
    }
    if (max == -1) {
      maxPrice = "";
    }
    toChangeFilter();
  }

  function patternChange(option) {
    pattern = option;
    toChangeFilter();
  }

  function colourChange(option) {
    colour = option;
    toChangeFilter();
  }

  function categoryChange(option) {
    category = option;
    toChangeFilter();
  }

  function sizeChange(option) {
    size = option;
    toChangeFilter();
  }

  function genderTypeChange(option) {
    genderType = option;
    toChangeFilter();
  }

  function toChangeFilter() {
    // Build query string with updated filter values
    const queryString = `?sorted=${sorted}&pattern=${pattern}&minPrice=${minPrice}&maxPrice=${maxPrice}&colour=${colour}&category=${category}&sizes=${size}&genderType=${genderType}&count=&page=`;

    // Redirect to filtered product list page
    window.location.href = `/productlist${queryString}`;
  }
</script>
