<style>
  .price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 5%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
</style>
<div class="flex-w flex-sb-m p-b-52">
  <div class="flex-w flex-l-m filter-tope-group m-tb-10">
    <button
      class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
      onClick="singleChange('','genderType')"
    >
      All Products
    </button>
    <% for (let i = 0; i < genderType.length; i++) { %>

    <button
      class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
      onClick="singleChange('<%= genderType[i]._id %>','genderType')"
    >
      <%= genderType[i].values %>
    </button>
    <% } %>
  </div>

  <div class="flex-w flex-c-m m-tb-10">
    <div
      class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter"
    >
      <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
      <i
        class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
      ></i>
      Filter
    </div>

    <div
      class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search"
    >
      <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
      <i
        class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
      ></i>
      Search
    </div>
  </div>

  <!-- Search product -->
  <div class="dis-none panel-search w-full p-t-10 p-b-15">
    <div class="bor8 dis-flex p-l-15">
      <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
        <i class="zmdi zmdi-search"></i>
      </button>

      <input
        class="mtext-107 cl2 size-114 plh2 p-r-15"
        type="text"
        id="search-input"
        name="search-product"
        placeholder="Search"
      />
    </div>
  </div>

  <!-- Filter -->
  <div class="dis-none panel-filter w-full p-t-10">
    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
      <div class="filter-col1 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Sort By</div>

        <ul>
          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="singleChange('','sorted')"
            >
              Default
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="singleChange('popularity','sorted')"
            >
              Popularity
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="singleChange('lth','sorted')"
            >
              Price: Low to High
            </a>
          </li>

          <li class="p-b-6">
            <a
              href="#"
              class="filter-link stext-106 trans-04"
              onClick="singleChange('htl','sorted')"
            >
              Price: High to Low
            </a>
          </li>
        </ul>
      </div>

      <div class="filter-col3 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Color</div>

        <ul id="colour">
          <li class="p-b-6">
            <div class="filter-link stext-106 trans-04">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="colour_all"
                  checked=""
                  value="all"
                  onClick="change('all','colour')"
                />
                All
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="
                    color: radial-gradient(
                      closest-side at 50% 50%,
                      red,
                      green,
                      peach
                    );
                  "
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>
              </label>
            </div>
          </li>
          <% for (let i = 0; i < colour.length; i++) { %>
          <li class="p-b-6">
            <div class="filter-link stext-106 trans-04">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="colour_<%=colour[i]._id%>"
                  value="<%=colour[i]._id%>"
                  onClick="change('<%=colour[i]._id%>','colour')"
                />
                <%= colour[i].values%>
                <span
                  class="fs-15 lh-12 m-r-6"
                  style="color: <%=colour[i].values%>"
                >
                  <i class="zmdi zmdi-circle"></i>
                </span>
              </label>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="filter-col4 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Category</div>

        <ul id="category">
          <li class="p-b-6">
            <div class="filter-link stext-106 trans-04">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  checked=""
                  id="category_all"
                  value="all"
                  onClick="change('all','category')" />
                All
                <i class="input-helper"></i
              ></label>
            </div>
          </li>
          <% for (let i = 0; i < category.length; i++) { %>
          <li class="p-b-6">
            <div class="filter-link stext-106 trans-04">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="category_<%=category[i]._id%>"
                  value="<%=category[i]._id%>"
                  onClick="change('<%=category[i]._id%>','category')" />
                <%=category[i].values%>
                <i class="input-helper"></i
              ></label>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="filter-col5 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15">Pattern</div>
        <ul id="pattern">
          <li class="p-b-6">
            <div class="filter-link stext-106 trans-04">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  checked=""
                  id="pattern_all"
                  value="all"
                  onClick="change('all','pattern')"
                />
                All
                <i class="input-helper"></i>
              </label>
            </div>
          </li>
          <% for (let i = 0; i < pattern.length; i++) { %>
          <li class="p-b-6">
            <div class="filter-link stext-106 trans-04">
              <label class="form-check-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="pattern_<%=pattern[i]._id%>"
                  value="<%=pattern[i]._id%>"
                  onClick="change('<%=pattern[i]._id%>','pattern')"
                />
                <%=pattern[i].values%>
                <i class="input-helper"></i>
              </label>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="filter-col2 p-r-15 p-b-27">
        <div class="mtext-102 cl2 p-b-15" id="price">Price</div>
        <ul>
          <li class="p-b-6">
            <div class="price-input">
              <div class="field">
                <span>Min</span>
                <input type="number" id="" class="input-min" value="50" />
              </div>
              <div class="separator">-</div>
              <div class="field">
                <span>Max</span>
                <input type="number" class="input-max" value="7500" />
              </div>
            </div>
            <div class="slider">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input
                type="range"
                class="range-min"
                min="0"
                max="10000"
                value="100"
                step="100"
              />
              <input
                type="range"
                class="range-max"
                min="0"
                max="10000"
                value="7500"
                step="100"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  // Define variables to hold values
  var selectedpatterns = [];
  var selectedcategorys = [];
  var selectedcolours = [];
  var selectedgenderTypes;
  var selectedsortedTypes;
  var params = new URLSearchParams(window.location.search);
  const rangeInput = document.querySelectorAll(".range-input input"),
    priceInput = document.querySelectorAll(".price-input input"),
    range = document.querySelector(".slider .progress");
  let priceGap = 500;
  let minPrice = parseInt(priceInput[0].value);
  let maxPrice = parseInt(priceInput[1].value);
  var size = params.get("size") || "";
  function change(value, optionName) {
    const allCheckbox = document.getElementById(`${optionName}_all`);
    const checkboxes = document.querySelectorAll(
      `#${optionName} input[type="checkbox"]:not(#${optionName}_all)`
    );

    if (value === "all") {
      if (allCheckbox.checked) {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = true;
          if (!window[`selected${optionName}s`].includes(checkbox.value)) {
            window[`selected${optionName}s`].push(checkbox.value);
          }
        });
      } else {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = false;
          const index = window[`selected${optionName}s`].indexOf(
            checkbox.value
          );
          if (index !== -1) {
            window[`selected${optionName}s`].splice(index, 1);
          }
        });
      }
    } else {
      const checkbox = document.getElementById(`${optionName}_${value}`);
      if (checkbox.checked) {
        window[`selected${optionName}s`].push(value);
      } else {
        const index = window[`selected${optionName}s`].indexOf(value);
        if (index !== -1) {
          window[`selected${optionName}s`].splice(index, 1);
        }
      }
      const allChecked =
        checkboxes.length === window[`selected${optionName}s`].length;
      allCheckbox.checked = allChecked;
    }

    if (checkboxes.length === window[`selected${optionName}s`].length) {
      allCheckbox.checked = true;
    } else {
      allCheckbox.checked = false;
    }

    toChangeFilter();
    console.log(window[`selected${optionName}s`]); // log the selected options array
  }

  function singleChange(value, optionName) {
    window[`selected${optionName}s`] = value;
    toChangeFilter();
  }
  function toChangeFilter() {
    // Build query string with updated filter values
    $.ajax({
      url: "/postfilter",
      method: "POST",
      data: {
        pattern: window.selectedpatterns,
        category: window.selectedcategorys,
        colour: window.selectedcolours,
        genderType: window.selectedgenderTypes,
        sorted: window.selectedsorteds,
        maxPrice: maxPrice,
        minPrice: minPrice,
      },
      success: function (response) {
        console.log(response);
        $("#product").html(response);
      },
      error: function (xhr, status, error) {
        console.log(error);
      },
    });
  }
  priceInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      minPrice = parseInt(priceInput[0].value);
      maxPrice = parseInt(priceInput[1].value);

      if (maxPrice - minPrice >= priceGap && maxPrice <= rangeInput[1].max) {
        if (e.target.className === "input-min") {
          rangeInput[0].value = minPrice;
          range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
        } else {
          rangeInput[1].value = maxPrice;
          range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
        }
      }
    });
  });

  rangeInput.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minVal = parseInt(rangeInput[0].value),
        maxVal = parseInt(rangeInput[1].value);

      if (maxVal - minVal < priceGap) {
        if (e.target.className === "range-min") {
          rangeInput[0].value = maxVal - priceGap;
        } else {
          rangeInput[1].value = minVal + priceGap;
        }
      } else {
        priceInput[0].value = minVal;
        priceInput[1].value = maxVal;
        range.style.left = (minVal / rangeInput[0].max) * 100 + "%";
        range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
      }
      minPrice = priceInput[0].value;
      maxPrice = priceInput[1].value;
      toChangeFilter();
    });
  });
</script>
<script>
  const searchInput = document.querySelector("#search-input");

  searchInput.addEventListener("keyup", function (event) {
    const searchQuery = event.target.value;
    console.log(searchQuery + " bnmb");
    // Build query string with updated filter values
    $.ajax({
      url: "/searchItem",
      method: "POST",
      data: {
        value: searchQuery,
        pattern: window.selectedpatterns,
        category: window.selectedcategorys,
        colour: window.selectedcolours,
        genderType: window.selectedgenderTypes,
        sorted: window.selectedsorteds,
        maxPrice: maxPrice,
        minPrice: minPrice,
      },
      success: function (response) {
        console.log(response);
        $("#product").html(response);
      },
      error: function (xhr, status, error) {
        console.log(error);
      },
    });
  });
</script>
