<!-- Slider -->
<section class="section-slide">
  <div class="wrap-slick1">
    <div class="slick1">
      <div
        class="item-slick1"
        style="background-image: url(/images/bannerImages/<%=banner[0].image%>)"
      >
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div
              class="layer-slick1 animated visible-false"
              data-appear="fadeInDown"
              data-delay="0"
            >
              <span class="ltext-101 cl2 respon2">
                <%= banner[0].smallHead%>
              </span>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="fadeInUp"
              data-delay="800"
            >
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                <%= banner[0].bigHead%>
              </h2>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="zoomIn"
              data-delay="1600"
            >
              <a
                href="<%= banner[0].link%>"
                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
              >
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="item-slick1"
        style="background-image: url(/images/bannerImages/<%=banner[1].image%>)"
      >
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div
              class="layer-slick1 animated visible-false"
              data-appear="rollIn"
              data-delay="0"
            >
              <span class="ltext-101 cl2 respon2">
                <%= banner[1].smallHead%>
              </span>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="lightSpeedIn"
              data-delay="800"
            >
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                <%= banner[1].bigHead%>
              </h2>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="slideInUp"
              data-delay="1600"
            >
              <a
                href="<%= banner[1].link%>"
                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
              >
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="item-slick1"
        style="background-image: url(/images/bannerImages/<%=banner[2].image%>)"
      >
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
            <div
              class="layer-slick1 animated visible-false"
              data-appear="rotateInDownLeft"
              data-delay="0"
            >
              <span class="ltext-101 cl2 respon2">
                <%= banner[1].smallHead%>
              </span>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="rotateInUpRight"
              data-delay="800"
            >
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                <%= banner[1].bigHead%>
              </h2>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="rotateIn"
              data-delay="1600"
            >
              <a
                href="<%= banner[1].link%>"
                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
              >
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img src="images/banner-01.jpg" alt="IMG-BANNER" />

          <a
            href="/postfilter?genderType=Womens&sorted=popularity"
            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
          >
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8"> Women </span>

              <span class="block1-info stext-102 trans-04"> Spring 2023 </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <!-- Block1 -->
        <div class="block1 wrap-pic-w">
          <img src="images/banner-02.jpg" alt="IMG-BANNER" />

          <a
            href="/postfilter?genderType=Mens&sorted=popularity"
            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
          >
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8"> Men </span>

              <span class="block1-info stext-102 trans-04"> Spring 2023 </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">Product Overview</h3>
    </div>
    <%-include('filter')-%> <%-include('product')-%>
    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <a
        href="/productlist"
        class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04"
      >
        Load More
      </a>
    </div>
  </div>
</section>

<!-- Product -->
<section class="sec-product bg0 p-t-100 p-b-50">
  <div class="container">
    <div class="p-b-32">
      <h3 class="ltext-105 cl5 txt-center respon1">Store Overview</h3>
    </div>

    <!-- Tab01 -->
    <div class="tab01">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item p-b-10">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#best-seller"
            role="tab"
            >Best Seller</a
          >
        </li>

        <li class="nav-item p-b-10">
          <a class="nav-link" data-toggle="tab" href="#featured" role="tab"
            >Featured</a
          >
        </li>

        <li class="nav-item p-b-10">
          <a class="nav-link" data-toggle="tab" href="#sale" role="tab">Sale</a>
        </li>

        <li class="nav-item p-b-10">
          <a class="nav-link" data-toggle="tab" href="#top-rate" role="tab"
            >Top Rate</a
          >
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content p-t-50">
        <!-- - -->
        <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
          <!-- Slide2 -->
          <div class="wrap-slick2">
            <div class="slick2">
              <% for (let i = locals.startIndex; i < locals.endIndex; i++) { %>

              <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-pic hov-img0">
                    <img
                      src="/images/productImages/<%=productsList[i].images[0]%>"
                      alt="IMG-PRODUCT"
                    />

                    <a
                      href="#"
                      class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
                    >
                      Quick View
                    </a>
                  </div>

                  <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l">
                      <a
                        href="product-detail.html"
                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                      >
                        <%= locals.productsList[i].name %>
                      </a>

                      <span class="stext-105 cl3">
                        RS.<%=(productsList[i].ourPrice)%>
                        <span class="slinecross"
                          >Rs <%= productsList[i].orginalPrice %></span
                        >
                      </span>
                    </div>

                    <div class="block2-txt-child2 flex-r p-t-3">
                      <a
                        href="#"
                        class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                      >
                        <img
                          class="icon-heart1 dis-block trans-04"
                          src="images/icons/icon-heart-01.png"
                          alt="ICON"
                        />
                        <img
                          class="icon-heart2 dis-block trans-04 ab-t-l"
                          src="images/icons/icon-heart-02.png"
                          alt="ICON"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>

        <!-- - -->
        <div class="tab-pane fade" id="sale" role="tabpanel">
          <!-- Slide2 -->
          <div class="wrap-slick2">
            <div class="slick2">
              <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-pic hov-img0">
                    <img src="images/product-02.jpg" alt="IMG-PRODUCT" />

                    <a
                      href="#"
                      class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
                    >
                      Quick View
                    </a>
                  </div>

                  <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l">
                      <a
                        href="product-detail.html"
                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                      >
                        Herschel supply
                      </a>

                      <span class="stext-105 cl3"> $35.31 </span>
                    </div>

                    <div class="block2-txt-child2 flex-r p-t-3">
                      <a
                        href="#"
                        class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                      >
                        <img
                          class="icon-heart1 dis-block trans-04"
                          src="images/icons/icon-heart-01.png"
                          alt="ICON"
                        />
                        <img
                          class="icon-heart2 dis-block trans-04 ab-t-l"
                          src="images/icons/icon-heart-02.png"
                          alt="ICON"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- - -->
        <div class="tab-pane fade" id="top-rate" role="tabpanel">
          <!-- Slide2 -->
          <div class="wrap-slick2">
            <div class="slick2">
              <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-pic hov-img0">
                    <img src="images/product-03.jpg" alt="IMG-PRODUCT" />

                    <a
                      href="#"
                      class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
                    >
                      Quick View
                    </a>
                  </div>

                  <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l">
                      <a
                        href="product-detail.html"
                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                      >
                        Only Check Trouser
                      </a>

                      <span class="stext-105 cl3"> $25.50 </span>
                    </div>

                    <div class="block2-txt-child2 flex-r p-t-3">
                      <a
                        href="#"
                        class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                      >
                        <img
                          class="icon-heart1 dis-block trans-04"
                          src="images/icons/icon-heart-01.png"
                          alt="ICON"
                        />
                        <img
                          class="icon-heart2 dis-block trans-04 ab-t-l"
                          src="images/icons/icon-heart-02.png"
                          alt="ICON"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-pic hov-img0">
                    <img src="images/product-06.jpg" alt="IMG-PRODUCT" />

                    <a
                      href="#"
                      class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
                    >
                      Quick View
                    </a>
                  </div>

                  <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l">
                      <a
                        href="product-detail.html"
                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                      >
                        Vintage Inspired Classic
                      </a>

                      <span class="stext-105 cl3"> $93.20 </span>
                    </div>

                    <div class="block2-txt-child2 flex-r p-t-3">
                      <a
                        href="#"
                        class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                      >
                        <img
                          class="icon-heart1 dis-block trans-04"
                          src="images/icons/icon-heart-01.png"
                          alt="ICON"
                        />
                        <img
                          class="icon-heart2 dis-block trans-04 ab-t-l"
                          src="images/icons/icon-heart-02.png"
                          alt="ICON"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('productview') -%>
<div class="wrap-header-cart js-panel-cart">
  <div class="s-full js-hide-cart"></div>

  <div class="header-cart flex-col-l p-l-65 p-r-25">
    <div class="header-cart-title flex-w flex-sb-m p-b-8">
      <span class="mtext-103 cl2"> Your Cart </span>

      <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
        <i class="zmdi zmdi-close"></i>
      </div>
    </div>
    <%- include('sidecart') -%>
  </div>
</div>
