<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
  <div class="px-5"><%-include('filter')-%></div>

  <%-include('product')-%> <%-include('pagination')-%>
</div>
<%- include('productview') -%>
<div class="wrap-header-cart js-panel-cart">
  <div class="s-full js-hide-cart"></div>

  <div class="header-cart flex-col-l p-l-65 p-r-25">
    <div class="header-cart-title flex-w flex-sb-m p-b-8">
      <span class="mtext-103 cl2"> Your Cart </span>

      <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
        <i class="zmdi zmdi-close"></i>
      </div>
    </div>
    <%- include('sidecart') -%>
  </div>
</div>
