<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              User Profile
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <form id="myForm">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
                onclick="insertImage()"
              />
            </form>
            <h5 class="my-3"><%= userData.fullName %></h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3" role="tablist">
              <li
                class="list-group-item d-flex justify-content-left align-items-center list-group-item-action"
                data-bs-toggle="list"
                href="#address"
                id="addressTog"
                onclick="passwordTog.classList.remove('active')"
                role="tab"
              >
                <i class="fab fa-github fa-lg" style="color: #333333"></i>
                <p class="ml-5">Saved Address</p>
              </li>
              <li
                class="list-group-item d-flex justify-content-left align-items-center p-3 list-group-item-action"
                data-bs-toggle="list"
                href="#password"
                id="passwordTog"
                role="tab"
                onclick="addressTog.classList.remove('active')"
              >
                <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
                <p class="ml-5">Password</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= userData.fullName %></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= userData.email %></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= userData.mobile %></p>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="justify-content-end d-flex">
          <button
            type="button"
            id="toggle-button-editProfile"
            class="btn btn-primary justify-content-end mr-0"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .bio-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .bio-table td,
  .bio-table th {
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
    text-align: left;
    vertical-align: middle;
  }

  .bio-table th {
    font-weight: 600;
    background-color: #f5f5f5;
  }

  .bio-table tr:last-child td {
    border-bottom: none;
  }

  .bio-table td:last-child {
    text-align: right;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .table thead th {
    border-top: none;
    background-color: #f8f9fa;
    font-weight: 400;
  }

  .table td,
  .table th {
    border: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0;
  }

  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }

  .table-hover tbody tr:hover {
    background-color: #f5f5f5;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .bg-primary {
    background-color: #007bff !important;
  }

  .text-white {
    color: #fff !important;
  }

  /* Remove scrollbar */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
</style>
<br /><br /><br />

<link
  href="css2.css?family=Inter:wght@300;400;600&display=swap"
  rel="stylesheet"
/>
<link class="js-stylesheet" href="/user/css/light.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<div class="container">
  <main class="content">
    <div class="container-fluid p-0">
      <!-- <h1 class="h3 mb-3">Settings</h1> -->

      <div class="row">
        <div class="col-md-12 col-xl-10">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">
              <div class="card" id="card-personalInfo" style="display: none">
                <div class="card-header">
                  <h5 class="card-title mb-0">Private info</h5>
                </div>
                <div class="card-body">
                  <form action="/profile" method="post">
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputFirstName"
                          >Name</label
                        >
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          value="<%= userData.fullName %>"
                        />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for="inputLastName"
                          >Email</label
                        >
                        <input
                          type="text"
                          name="email"
                          class="form-control"
                          value="<%= userData.email %>"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label" for=" inputemail4"
                          >Phone</label
                        >
                        <input
                          type="text"
                          name="phone"
                          class="form-control"
                          value="<%= userData.mobile %>"
                        />
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="address" role="tablepanel">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">Address Book</h5>
                </div>
                <div class="card-body">
                  <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                      <!-- Block2 -->

                      <a
                        href="#"
                        class="flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal3"
                        data-product-data=""
                      >
                        Add Address
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <% for (let i=0;i< userAddress.length;i++) { %>
              <div id="abc" class="col-md-12">
                <div class="card mt-5 mb-5">
                  <div class="card-header">
                    <h5 class="card-title mb-0">Address</h5>
                  </div>

                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="tab-content">
                          <div class="tab-pane active" id="tab_default_1">
                            <!-- <span class="text-right">
                                <%= userAddress.typeOfAddress%>
                              </span> -->
                            <address>
                              <div><%= userAddress[i].name %></div>
                              <div><%= userAddress[i].mobile %></div>
                              <div>
                                <%= userAddress[i].houseName%> (h), <%=
                                userAddress[i].place%> , (po)<%=
                                userAddress[i].postOffice%>
                              </div>
                              <div>
                                (C)<%= userAddress[i].city %> ,(D) <%=
                                userAddress[i].district %>
                              </div>
                              <div><%= userAddress[i].state %></div>
                              <div><%= userAddress[i].pinCode %></div>
                            </address>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        id="deleteButton"
                        data-bs-target="#deleteModal<%=userAddress[i]._id%>"
                        onclick="deleteAddress('<%=userAddress[i]._id%>')"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                  <div id="ds"></div>
                </div>
              </div>
              <% } %>

              <div class="tab-pane fade" id="password" role="tabpanel">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Password</h5>

                    <form
                      action="/update-user-password"
                      id="changePassword"
                      method="post"
                    >
                      <div class="mb-3">
                        <label class="form-label" for="inputPasswordCurrent"
                          >Current password</label
                        >
                        <input
                          type="password"
                          name="currentpassword"
                          class="form-control"
                        />
                        <!-- <small><a href="#">Forgot your password?</a></small> -->
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="inputPasswordNew"
                          >New password</label
                        >
                        <input
                          type="password"
                          name="newpassword"
                          class="form-control"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="inputPasswordNew2"
                          >Verify password</label
                        >
                        <input
                          type="password"
                          name="confirmpassword"
                          class="form-control"
                        />
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Save changes
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('address') -%>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#toggle-button-editProfile").click(function () {
          $("#card-personalInfo").toggle();
        });
      });

      $("#changePassword").submit((e) => {
        e.preventDefault();
        $.ajax({
          url: "/update-user-password",
          data: $("#changePassword").serialize(),
          method: "post",
          success: (response) => {
            if (response.message) {
              swal("Error", "password is invalid", "error");
            } else {
              swal("Password Changed Successfully");
              location.href = "/";
            }
          },
        });
      });

      $(document).on("click", "#edit-button", function () {
        // Get the current form data
        var formData = $("#profile-form").serialize();

        // Get the address ID from the hidden input field
        var addressId = $("#address-id").val();

        // Add the address ID to the form data
        formData += "&addressId=" + addressId;

        // Send a PATCH request to update the user's details
        $.ajax({
          url: "/addressEdit",
          type: "PATCH",
          data: formData,
          success: function (data) {
            // Handle the successful response
          },
          error: function (xhr, status, error) {
            // Handle the error response
          },
        });
      });

      // Disable right-click context menu
      document.addEventListener("contextmenu", function (event) {
        event.preventDefault();
      });
    </script>

    <script>
      function insertImage() {
        const input = document.createElement("input");
        input.type = "file";
        input.accept = "image/jpeg, image/png";
        input.setAttribute("max-size", "2097152");
        input.addEventListener("change", handleFileSelection);
        input.click();
      }

      function handleFileSelection(event) {
        const file = event.target.files[0];
        if (file) {
          Swal.fire({
            title: "Are you sure to change the picture?",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Yes",
            cancelButtonText: "Cancel",
          }).then((result) => {
            if (result.isConfirmed) {
              document.getElementById("myForm").submit();
            }
          });
        }
      }

      function deleteAddress(id) {
        swal({
          text: "Are you sure?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((confirmed) => {
          if (confirmed) {
            fetch("/deleteAddress", {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                id: id,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.success) {
                  swal("Done").then(() => {
                    setTimeout(() => {
                      window.location.reload();
                    }, 2000);
                  });
                } else {
                  swal("Error");
                }
              })
              .catch((error) => {
                swal("Error deleting address: " + error);
              });
          }
        });
      }
    </script>
  </main>
</div>
