<div class="wrap-header-cart js-panel-cart">
  <div class="s-full js-hide-cart"></div>

  <div class="header-cart flex-col-l p-l-65 p-r-25">
    <div class="header-cart-title flex-w flex-sb-m p-b-8">
      <span class="mtext-103 cl2"> Your Cart </span>

      <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
        <i class="zmdi zmdi-close"></i>
      </div>
    </div>

    <div class="header-cart-content flex-w js-pscroll">
      <ul class="header-cart-wrapitem w-full" id="cartItemsList">
        <% let sum=0; for (let i = 0; i < cartItems.length; i++) { %>
        <li class="header-cart-item flex-w flex-t m-b-12">
          <div class="header-cart-item-img">
            <img
              src="/images/productImages/<%= cartItems[i].images[0] %>"
              alt="IMG"
            />
          </div>

          <div class="header-cart-item-txt p-t-8">
            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
              <%= cartItems[i].name %>
            </a>
            <span class="header-cart-item-info">
              size :<%= cartItems[i].size %>
            </span>
            <span class="header-cart-item-info">
              <%=cartItems[i].quantity%> x RS.<%=cartItems[i].ourPrice%>
            </span>
            <span class="slinecross"
              ><%=cartItems[i].quantity%> x Rs<%= cartItems[i].orginalPrice
              %></span
            >
          </div>
        </li>
        <% sum += cartItems[i].quantity* cartItems[i].ourPrice %> <% } %>
      </ul>

      <div class="w-full">
        <div class="header-cart-total w-full p-tb-40">
          Total: Rs. <%= sum %>
        </div>

        <div class="header-cart-buttons flex-w w-full">
          <a
            href="/cart"
            class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10"
          >
            View Cart
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
