<div class="header-cart-content flex-w js-pscroll" id="sideCart">
  <ul class="header-cart-wrapitem w-full" id="cartItemsList">
    <% let sum=0; for (let i = 0; i < cartItems.length; i++) { %>
    <li class="header-cart-item flex-w flex-t m-b-12">
      <div class="header-cart-item-img">
        <% let link=loggedin?(cartItems[i].images[0][0]
        ):(cartItems[i].images[0]) ;%>

        <img src="/images/productImages/<%=link.split(',')[0] %>" alt="IMG" />
      </div>

      <div class="header-cart-item-txt p-t-8">
        <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
          <%= cartItems[i].name %>
        </a>
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="div">
            <span class="header-cart-item-info">
              size :<%= cartItems[i].size %>
            </span>
            <span class="header-cart-item-info">
              <%=cartItems[i].quantity%> x RS <%=cartItems[i].ourPrice%>
            </span>
            <span class="slinecross"
              ><%=cartItems[i].quantity%> x Rs<%= cartItems[i].orginalPrice
              %></span
            >
          </div>
          <div
            class="btn btn-danger mb-3 mr-3"
            style="height: 30px"
            onclick="deleteItem('<%= loggedin ? cartItems[i]._id : cartItems[i].productId %>', '<%= loggedin ? '' : cartItems[i].size %>')"
          >
            X
          </div>
        </div>
      </div>
    </li>
    <% loggedin?(sum += cartItems[i].quantity* cartItems[i].ourPrice):(sum +=
    cartItems[i].quantity* cartItems[i].ourPrice) %> <% } %>
  </ul>

  <div class="w-full">
    <div class="header-cart-total w-full p-tb-40">
      Total: Rs. <%= sum.toFixed(2) %>
    </div>

    <div class="header-cart-buttons flex-w w-full">
      <a
        href="/cart"
        class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10"
      >
        View Cart
      </a>
    </div>
  </div>
</div>
