<head>
  <style>
    @media (max-width: 825px) {
      .table-responsive table thead {
        display: none;
      }

      .table-responsive table tbody tr {
        display: block;
        margin-bottom: 20px;
        border: none;
      }

      .table-responsive table tbody td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px solid #e6e6e6;
        position: relative;
        padding-left: 50%;
        width: 100%;
      }

      .table-responsive table tbody td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 100%;
        padding-left: 15px;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
      }
    }
  </style>
</head>
<div class="col-lg-12 grid-margin stretch-card" style="width: 80%">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Order List</h4>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Product ID</th>
              <th>Quantity</th>
              <th>Size</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < orderList.length; i++) { %> <% for (let j =
            0; j < orderList[i].products.length; j++) { %>
            <tr></tr>

            <tr>
              <td
                onclick="window.location.href='/merchant/orderedDetails/<%= orderList[i].products[j].id %>'"
                data-label="Order ID"
                style="cursor: pointer"
              >
                <%= orderList[i].products[j].orderCode %>
              </td>
              <td
                onclick="window.location.href='/merchant/orderedDetails/<%= orderList[i].products[j].id %>'"
                data-label="Product ID"
                class="md-none"
                style="cursor: pointer"
              >
                <%= orderList[i].products[j].productId %>
              </td>
              <td data-label="Quantity" class="text-danger">
                <%= orderList[i].products[j].items[0].quantity %>
              </td>
              <td data-label="Size" class="text-danger">
                <%= orderList[i].products[j].items[0].size %>
              </td>
              <td data-label="Amount" class="text-danger">
                <%=
                orderList[i].products[j].amount*orderList[i].products[j].items[0].quantity
                %>
              </td>
              <td data-label="Status">
                <% let
                currentStatus=orderList[i].products[j].currentStatus[orderList[i].products[j].currentStatus.length-1].currentStatus;
                console.log(currentStatus+"fgdxgf"); const purchaseDate = new
                Date(orderList[i].products[j].status[orderList[i].products[j].status.length-1].dateTimeOn);
                const currentDate = new Date(); const daysPassed =
                Math.floor((currentDate - purchaseDate) / (1000 * 60 * 60 *
                24)); if (currentStatus === "usercancel" || currentStatus ===
                "merchantCancel" || currentStatus === "adminCancel"||daysPassed
                > 14) { %>

                <button
                  type="button"
                  class="btn btn-gradient-danger btn-rounded btn-fw"
                >
                  <%=currentStatus%></button
                ><br /><br /><br />
                <%}else if(currentStatus =="initiated"){ %>
                <button
                  type="button"
                  class="btn btn-gradient-primary btn-rounded btn-fw"
                  onclick="orderUpdate('Accepted', '<%= orderList[i]._id %>', '<%= orderList[i].products[j].id %>', '<%= orderList[i].products[j].items[0].size %>', '<%= orderList[i].products[j].productId %>','<%=orderList[i].products[j].items[0].quantity%>')"
                >
                  Accept</button
                ><br /><br /><br />
                <button
                  type="button"
                  class="btn btn-gradient-danger btn-rounded btn-fw"
                  onclick="orderUpdate('merchantCancel', '<%= orderList[i]._id %>', '<%= orderList[i].products[j].id %>', '<%= orderList[i].products[j].items[0].size %>', '<%= orderList[i].products[j].productId %>','<%=orderList[i].products[j].items[0].quantity%>')"
                >
                  Cancel
                </button>
                <% }else if( currentStatus=="Accepted"){ %>
                <button
                  type="button"
                  class="btn btn-gradient-danger btn-rounded btn-fw"
                  onclick="orderUpdate('merchantCancel', '<%= orderList[i]._id %>', '<%= orderList[i].products[j].id %>', '<%= orderList[i].products[j].items[0].size %>', '<%= orderList[i].products[j].productId %>','<%=orderList[i].products[j].items[0].quantity%>')"
                >
                  Cancel
                </button>
                <br /><br /><br />
                <button
                  type="button"
                  class="btn btn-gradient-primary btn-rounded btn-fw"
                  onclick="orderUpdate('Packed', '<%= orderList[i]._id %>', '<%= orderList[i].products[j].id %>', '<%= orderList[i].products[j].items[0].size %>', '<%= orderList[i].products[j].productId %>','<%=orderList[i].products[j].items[0].quantity%>')"
                >
                  Packed</button
                ><br /><br /><br />

                <% } else if( currentStatus=="Packed"){ %>
                <button
                  type="button"
                  class="btn btn-gradient-primary btn-rounded btn-fw"
                  onclick="orderUpdate('Sented', '<%= orderList[i]._id %>', '<%= orderList[i].products[j].id %>', '<%= orderList[i].products[j].items[0].size %>', '<%= orderList[i].products[j].productId %>','<%=orderList[i].products[j].items[0].quantity%>')"
                >
                  Sented
                </button>
                <% } else if( currentStatus=="Sented"){ %>
                <button
                  type="button"
                  class="btn btn-gradient-primary btn-rounded btn-fw"
                  onclick="orderUpdate('Completed', '<%= orderList[i]._id %>', '<%= orderList[i].products[j].id %>', '<%= orderList[i].products[j].items[0].size %>', '<%= orderList[i].products[j].productId %>','<%=orderList[i].products[j].items[0].quantity%>')"
                >
                  Completed</button
                ><br /><br /><br />

                <% } else if( currentStatus=="Returned"){ %>
                <button
                  type="button"
                  class="btn btn-gradient-primary btn-rounded btn-fw"
                  onclick="orderUpdate('recievedBack', '<%= orderList[i]._id %>', '<%= orderList[i].products[j].id %>', '<%= orderList[i].products[j].items[0].size %>', '<%= orderList[i].products[j].productId %>','<%=orderList[i].products[j].items[0].quantity%>')"
                >
                  recievedBack</button
                ><br /><br /><br />

                <% } %>
              </td>
            </tr>

            <% } %> <% } %>
          </tbody>
        </table>
      </div>
      <%- include('pagination')-%>
    </div>
  </div>
</div>

<!-- At the bottom of the HTML body -->
<script>
  function orderUpdate(data, oid, pid, size, pvd) {
    console.log(data, oid, pid, size);
    swal(`Are you sure to ${data}?`, {
      buttons: {
        yes: {
          text: "Yes",
          value: true,
        },
        no: {
          text: "No",
          value: false,
        },
      },
    }).then((value) => {
      if (value) {
        fetch("/merchant/updateOrderStatus", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            oid: oid,
            pid: pid,
            size: size,
            pvd,
            pvd,
            orderStatus: data,
          }),
        })
          .then((response) => {
            if (response.status) {
              swal(`Order ${data} successfully.`).then(() => {
                window.location.reload();
              });
            }
          })
          .catch((error) => {
            swal("Some error occurred: " + error);
          });
      }
    });
  }
</script>
